<div>
    <form id="loginForm">
        <label>Email</label>
        <input type="email" name="email">

        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <br>
    <a href="/">Ir al register</a>
    <br>
    <br>
    <a href="/data">Ver data</a>
</div>
<script src="js/login.js"></script>